<!-- Navbar -->
<nav th:fragment="nav" class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-user fa-2x"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a href="#" class="dropdown-item">
          <!-- Message Start -->
          <div class="media">
            <img src="https://placekitten.com/200/200" alt="User Avatar" class="img-size-50 mr-3 img-circle">
            <div class="media-body">
              <h3 class="dropdown-item-title">
                <span>user@mail.com</span>
                <span class="float-right text-sm text-danger"><i class="fas fa-online"></i></span>
              </h3>
              <p class="text-sm"><small>Membro desde</small></p>
              <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>Alguma data</small></p>
            </div>
          </div>
          <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <div class="dropdown-footer">
          <a href="#" class="btn btn-primary btn-sm">Mudar senha</a>
          <a href="#" class="btn btn-danger btn-sm">Sair</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
<!-- /.navbar -->