<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{::title}, ~{::main}, _, _)}">
<head>
  <title>Edição de Usuário</title>
</head>
<body>
  <main>
    <div class="row">
      <div class="col">
        <div class="card card-primary">
          <div class="card-header">
            <div class="card-title">Edição de Usuário</div>
          </div>
          <div class="card-body">

            <form method="POST" th:object="${edicaoForm}">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="nomeCompleto">Nome Completo</label>
                    <input type="text" class="form-control" th:field="*{nomeCompleto}">
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('nomeCompleto')}" th:text="${erro}"></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" th:field="*{email}">
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('email')}" th:text="${erro}"></li>
                    </ul>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-success">Salvar</button>

            </form>
          </div>  
        </div>
      </div>
    </div>
  </main>
</body>
</html>