<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{::title}, ~{::main}, _, _)}">
<head>
  <title>Lista de Usuários</title>
</head>
<body>
  <main>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Lista de Usuários</div>
            <div class="card-tools">
              <a th:href="@{/admin/usuarios/cadastrar}" class="btn btn-sm btn-success">Novo Usuário</a>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome completo</th>
                  <th>E-mail</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="usuario : ${usuarios}">
                  <td th:text="${usuario.id}"></td>
                  <td th:text="${usuario.nomeCompleto}"></td>
                  <td th:text="${usuario.email}"></td>
                  <td>
                    <a 
                      class="btn btn-sm btn-warning"
                      th:href="@{/admin/usuarios/{id}/editar (id=${usuario.id})}"
                    >
                      Editar
                    </a>
                    <a 
                      class="btn btn-sm btn-danger"
                      th:href="@{/admin/usuarios/{id}/excluir (id=${usuario.id})}"
                      onclick="return confirm('Tem certeja que deseja excluir este usuário?')"
                    >
                      Excluir
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>